<div class="container mar-bot30">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>About Iris</h3>
        <p class="lead">
          Iris is a social networking application that stores everything on its users' devices which communicate directly with each other &mdash; no corporate gatekeepers needed.
        </p>

        <p>Longer description on <a href="https://github.com/irislib/iris/blob/master/README.md">GitHub</a>.</p>

        <h4>Available at</h4>
        <ul>
          <li><a href="https://iris.to">iris.to</a></li>
          <li><a href="https://iris.cx">iris.cx</a></li>
          <li><a href="https://irislib.github.io">irislib.github.io</a></li>
          <li>
            Browser extension: use Iris even if you are offline. In the future, can be used to sign in to websites.
            <ul>
              <li><a href="https://chrome.google.com/webstore/detail/iris/oelmiikkaikgnmmjaonjlopkmpcahpgh">Chrome</a></li>
              <li><a href="https://addons.mozilla.org/en-US/firefox/addon/irisapp/">Firefox</a></li>
            </ul>
          </li>
          <!-- TODO: add dynamically updated /ipfs url -->
          <li>Upcoming: Electrum desktop app with bluetooth and LAN peerfinding!</li>
        </ul>

        <h4>Privacy</h4>
        <p>It's important to remember that as for now, <b>everything you post on Iris is public</b>.</p>
        <p>Private chat between users will probably be implemented at some point, and other user permissions and groups maybe later.</p>
        <p>See <a ui-sref="privacy">privacy policy</a> for more information.</p>
      </div>
    </div>
  </div>
</div>
