<div class="container mar-bot30">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Privacy policy</h3>
        <p>Iris is a peer-to-peer application like Bitcoin, not a corporate or other legal entity.
        All data is stored and indexed by the users who run the application. The application only makes connections to other decentralized network peers.</p>
        <p>Please keep in mind that everything you post or add on Iris is <b>public</b> unless otherwise stated.</p>
        <p>Iris's contact list feature can be compared to your mobile phone's address book, but with synchronization with others. Users can add contact details and attributes of arbitrary type.</p>
        <p>Developers of the application have no control over content added by users and are not responsible for it. It is the user's responsibility to comply with applicable laws regarding public messaging and listing of personal information.</p>
        <p>An Iris "account" is a cryptographic keypair generated and stored locally on the user's device (in browser or other application). It does not constitute a relationship with any corporate or other entity.</p>
      </div>
    </div>
  </div>
</div>
