<div class="container">
  <div class="col-md-8">
    <h3>Settings</h3>
    <div ng-if="authentication.user">
      <p><b>For normal people</b></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          Log out
        </div>
        <div class="panel-body">
          <p>
            You cannot log in back to this account unless you have saved a backup of your private key.
          </p>
          <p>
            <button class="btn btn-danger" ng-click="openLogoutModal()">
              Log out
            </button>
          </p>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          Private key
        </div>
        <div class="panel-body">
          <p>Private key is used to log in to your account. Keep your private key safe!</p>
          <p>
            <button class="btn btn-danger" ng-click="copyToClipboard(privateKey|json)">
              Copy to clipboard
            </button>
            <button class="btn btn-danger" ng-click="downloadText(privateKey|json)">
              Download
            </button>
          </p>
        </div>
      </div>
    </div>
    <p><b>Geeky stuff</b></p>
    <div class="panel panel-default">
      <div class="panel-heading">
        GUN peers
      </div>
      <div class="panel-body">
        <p><a href="https://gun.eco/">GUN</a> stores dynamic content: indexes of messages and identities.</p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="(key, value) in gun['_'].opt.peers">
              <td>
                <span ng-show="value.wire && value.wire.hied" class="positive fa fa-check-circle"></span>
                <span ng-hide="value.wire && value.wire.hied" class="negative fa fa-times-circle"></span>
                <small ng-bind="key"></small>
              </td>
              <td><button ng-click="removeGunPeer(key)" class="pull-right btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></td>
            </tr>
            <tr>
              <td colspan="2">
                <form class="form-inline" ng-submit="addGunPeer(gunUrl)">
                  <input class="form-control" type="text" placeholder="Peer url" ng-model="gunUrl">
                  <input class="btn btn-primary" type="submit" value="Add GUN peer">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        IPFS peers
      </div>
      <div class="panel-body">
        <p><a href="https://ipfs.io">IPFS</a> stores static content: messages and image files.</p>
        <p ng-hide="ipfsPeers && ipfsPeers.length"><small>No IPFS peers</small></p>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="peer in ipfsPeers">
              <td>
                <span class="positive fa fa-check-circle"></span>
                <small ng-bind="peer.addr.toString()"></small>
              </td>
              <td><button ng-click="removeIpfsPeer(peer.addr.toString())" class="pull-right btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></td>
            </tr>
            <tr>
              <td colspan="2">
                <form class="form-inline" ng-submit="addIpfsPeer(ipfsUrl)">
                  <input class="form-control" type="text" placeholder="Peer url" ng-model="ipfsUrl">
                  <input class="btn btn-primary" type="submit" value="Add IPFS peer">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--
    <div class="panel panel-default">
      <div class="panel-heading">
        Iris indexing settings
      </div>
      <div class="panel-body">
        <p>
          <pre ng-bind="irisIndex.options|json"></pre>
        </p>
      </div>
    </div>-->
    <p><b>Other stuff</b></p>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <a ui-sref="about">About Iris</a>
        </p>
        <p>
          <a ui-sref="privacy">Privacy policy</a>
        </p>
      </div>
    </div>
  </div>
</div>
