@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato Light'),
       local('Lato-300'),
       url('../assets/fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('../assets/fonts/Lato-300/Lato-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato Regular'),
       local('Lato-regular'),
       url('../assets/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../assets/fonts/Lato-regular/Lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato Bold'),
       local('Lato-700'),
       url('../assets/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('../assets/fonts/Lato-700/Lato-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: local('Lato Black'),
       local('Lato-900'),
       url('../assets/fonts/Lato-900/Lato-900.woff2') format('woff2'),
       url('../assets/fonts/Lato-900/Lato-900.woff') format('woff');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	color:#777;
	background: #f7f7f7;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-shadow: none;
}

.clear {
	clear: both;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color:#222;
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	margin: 0 0 20px 0;
}
h1 { font-size: 40px; /*line-height: 30px;*/ }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; margin-top: 20px; }
h5 { font-size: 16px; margin-top: 20px; }
.txt-light { font-weight: 300; }
.txt-regular { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-uppercase { text-transform: uppercase; }

blockquote {
	font-family: Georgia, serif;
}

blockquote.bigquote {
	border: none;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.1em;
}

.text-bold {
	font-weight: 900;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}


small {
	font-size: 70%;
	font-weight: 100;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: none;
}

.color-white.txt-shadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.t-uppercase {
	text-transform: uppercase;
}

/*==========================================================================
  Misc & Adjust
 ========================================================================== */
.row {
	z-index: 9999;
}

.big {
	font-size: 20pt;
	font-weight: 300;
}


.blink:hover {
	opacity: 0.9;
}

.half-offset {
	margin-bottom: 75px !important;
}

.no-offset {
	margin: 0 !important;
	padding: 0;
}

.content,.container {
//	overflow: hidden;
}

.trans {
	border: 0 !important;
	background: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.nobg {
	background: 0;
	border: 0;
}

.noborder {
	border: 0 !important;
}

.color-white {
	color: #fff;
}

.theme-bg {
	background-color: #ff7701 !important;
}

.normalize-font-top {
	padding-top: 25px;
}



/* --- float --- */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* --- align --- */
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

/* ---- padding ---- */
/* top */
.pad-top0 {
	padding-top: 0;
}
.pad-top5 {
	padding-top: 5px;
}

.pad-top10 {
	padding-top: 10px;
}

.pad-top15 {
	padding-top: 15px;
}
.pad-top20 {
	padding-top: 20px;
}
.pad-top25 {
	padding-top: 25px;
}
.pad-top30 {
	padding-top: 30px;
}
.pad-top35 {
	padding-top: 35px;
}
.pad-top40 {
	padding-top: 40px;
}
/* bottom */
.pad-bot0 {
	padding-bottom: 0;
}
.pad-bot5 {
	padding-bottom: 5px;
}

.pad-bot10 {
	padding-bottom: 10px;
}

.pad-bot15 {
	padding-bottom: 15px;
}
.pad-bot20 {
	padding-bottom: 20px;
}
.pad-bot25 {
	padding-bottom: 25px;
}
.pad-bot30 {
	padding-bottom: 30px;
}
.pad-bot35 {
	padding-bottom: 35px;
}
.pad-bot40 {
	padding-bottom: 40px;
}


/* ---- margin --- */
.mar-left5 { margin-left: 5px; }
.mar-left10 { margin-left: 10px; }
.mar-left15 { margin-left: 15px; }
.mar-left20 { margin-left: 20px; }
.mar-left25 { margin-left: 25px; }
.mar-left30 { margin-left: 30px; }

.mar-right5 { margin-right: 5px; }
.mar-right10 { margin-right: 10px; }
.mar-right15 { margin-right: 15px; }
.mar-right20 { margin-right: 20px; }
.mar-right25 { margin-right: 25px; }
.mar-right30 { margin-right: 30px; }

/* top */
.mar-top0 {
	margin-top: 0;
}
.mar-top5 {
	margin-top: 5px;
}

.mar-top10 {
	margin-top: 10px;
}

.mar-top15 {
	margin-top: 15px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top25 {
	margin-top: 25px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top35 {
	margin-top: 35px;
}
.mar-top40 {
	margin-top: 40px;
}


/* bottom */
.mar-bot0 {
	margin-bottom: 0;
}
.mar-bot5 {
	margin-bottom: 5px;
}

.mar-bot10 {
	margin-bottom: 10px;
}

.mar-bot15 {
	margin-bottom: 15px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-bot25 {
	margin-bottom: 25px;
}
.mar-bot30 {
	margin-bottom: 30px;
}
.mar-bot35 {
	margin-bottom: 35px;
}
.mar-bot40 {
	margin-bottom: 40px;
}


/*===========================
  --- Sections ----
=========================== */

section.section {
	margin:0;
	padding: 80px 0 60px 0;
}

.bg-white {
	background-color: #fff;
}

/* --- section heading --- */
.section-header {
	text-align: center;
}
.section-header h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
}

/* ==========================
 --- Parallax ---
============================= */

#parallax1{
	background-image: url(../img/parallax/img1.jpg);
}
#parallax2{
	background-image: url(../img/parallax/img2.jpg);
}
#testimonials{
	background-image: url(../img/parallax/img3.jpg);
}
/*===========================
  --- Header & menu ----
=========================== */
.navbar {
//	line-height: 100px;
//	height: 100px;
	background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	filter: none;
	display: block;
	vertical-align: middle;
//	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
}

.nav-search input, .nav-search button {
	border-radius: 50px;
}

.nav-search input {
	background-color: #f7f7f7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.nav-search input:focus {
	background-color: #fff;
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
//	display: table-cell;
	height: 100%;
//	line-height: 100%;
	vertical-align: middle;
//	color: #fff;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.nav>li>a:hover {
//	color: #fff;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar-nav li {
  float: left;
  a.nav-identicon {
    padding: 12px;
  }
}

.login-menu li {
  float: none;
}

.tab-list {
  margin: 0;
  li {
    padding: 0;
  }
  a {
    display: inline-block;
    padding: 12px;
    height: 50px;
    &:hover, &:active {
      text-decoration: none;
    }
    &.active {
      text-decoration: none;
      border-bottom: 4px solid #337ab7;
    }
  }
}

/*
.navbar .navbar-nav > .active > a {
	color: #fff;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 22px;
}
*/

.navbar-default h1 a.navbar-brand {
	font-size: 24px;
	color: #428BCA;
	font-weight: 900;
	text-shadow: none;
  &:hover, &:focus { color: #2A6496; }
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
//	line-height: 90px;
}

.navbar-brand img {
	vertical-align: middle;
}

.navbar-toggle {
/*	padding: 0;
	margin: 0;
	width: 80px;*/
}

/*
.navbar-collapse.in {
	margin-top: -5px !important;
}
*/



/*===========================
  --- Featured section ----
=========================== */

section.featured {
	padding: 200px 0 60px;
	background: #70B9B0;
	color: #fdfdfd;
}

section.featured h2.slogan {
	color: #fff;
	font-size: 48px;
	font-weight: 900;
}

 /* inner heading */
section.featured.inner {
	background: #eee;
	padding: 150px 0 50px;
}


/* --- Flexslider --- */
.flexslider {
	margin: 0;
	background: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.flex-control-paging li a.flex-active {
	background: #fff;
}

.flex-control-nav {
	bottom: -25px;
}

.flexslider .slides img {
	width: auto;
	display: inline;
}

.flex-direction-nav a {
	display: block;
	width: 50px;
	height: 98px;
	margin: -29px -20px 0;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.flex-direction-nav .flex-next {
	right: -70px;
	background: url(../img/arrow_large_right.png) no-repeat top left;
}

.flex-direction-nav .flex-prev {
	left: -70px;
	background: url(../img/arrow_large_left.png) no-repeat top left;
}

.flex-direction-nav a.flex-next:before {
	content: none !important;
}

/* removing default arrows */
.flex-direction-nav a:before {
	content: none !important;
}

/* --- Revolution slider --- */

.featured .fullwidthbanner ul {
	list-style: none;
	padding:0;
}

.tp-rightarrow.large {
	margin-left: 0;
}

.tp-leftarrow.default {
	width: 49px !important;
	height: 98px !important;
	background: url(../img/arrow_small_left.png) no-Repeat top left;
}

.tp-rightarrow.default {
	width: 49px !important;
	height: 98px !important;
	background: url(../img/arrow_small_right.png) no-Repeat top left;
}

.fullwidthbanner-container {
	padding-top: 100px;
	width: 100% !important;
	position: relative;
	padding: 0;
	max-height: 650px !important;
	overflow: hidden;
}

.fullwidthbanner {
	height: 650px;
}

.tp-bullets.simplebullets.round .bullet {
	background: url(../img/bullets-new.png) no-repeat top left;
}

.tp-caption.large_bold_white {
	font-size:60px;
	line-height:60px;
	font-weight:800;
	font-family:"Open Sans";
	color: #fff;
	text-decoration:none;
	background-color:transparent;
	text-shadow:none;
	margin:0px;
	padding:1px 4px 0px;
	border-width:0px;
	border-color:rgb(255, 214, 88);
	border-style:none;
}
.tp-caption.small_thin_white {
	font-size:18px;
	line-height:26px;
	font-weight:300;
	font-family:"Open Sans";
	color: #fff;
	text-decoration:none;
	background-color:transparent;
	padding:1px 4px 0px;
	text-shadow:none;
	margin:0px;
	border-width:0px;
	border-color:rgb(255, 214, 88);
	border-style:none;
}


.fullwidthbanner a.btn {
	color: #fff;
}

/*==========================
About
=========================== */

.member-photo {
	box-sizing:border-box;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
	margin: 0 0 20px 0;
}
.member-photo img {
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
}

.team-detail h4 {
	font-weight: 700;
}


/*===========================
  Portfolio
============================ */
nav#filter a {
	background-color: #EEE;
	color:#555;
}
nav#filter a:hover, nav#filter a.current {
	background-color: #44BCDD;
	color:#fff;
}

/* ------- */

.isotopeWrapper article{
    margin-bottom: 30px;
}

#portfolio img  {
	width:100%;
}

#portfolio article p {
	margin-bottom:1.45em;/*set next row on the baseline*/
}
nav#filter {
	margin-bottom:1.5em;
}

nav#filter li {
	display:inline-block;
	margin:0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}


.portfolio-items article img {width:100%;}

.portfolio-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;

}
.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgb(220, 220, 220);
}


.portfolio-item:hover .portfolio-desc {
	padding-top: 20%;
	height: 100%;
    transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.portfolio-item .portfolio-desc a {
	color: #fff;
}
.portfolio-item .portfolio-desc a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
	top:-20px;
	padding: 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info{
	height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
	top:5px;
}



.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
}
.portfolio-item .portfolio-desc .folio-info p {
	color: #ffffff;
	font-size: 12px;
}


/*===========================
  --- Testimonial ----
=========================== */
#testimonals {
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
	margin-top:50px;
}
.testimonial i {
	color: #fff;
}
.testimonial span.author {
	color: #fff;
	font-weight: 700;
}

.testimonial h5 {
	color: #fff;
	font-size: 18px;
	font-family: Georgia, sans-serif;
	line-height: 1.5em;
}

/*===========================
  --- Contact ----
=========================== */

.validation {
	display:none;
	margin: 0 0 20px;
	font-weight:400;
	font-size:13px;
}

#sendmessage {
	border:1px solid #fff;
	display:none;
	text-align:center;
	padding:15px 12px 15px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;
}

#sendmessage.show,.show  {
	display:block;
}

#contact-form {
	position: relative;
	z-index: 999;
}

#contact-form input[type=text],#contact-form input[type=email], .contactForm textarea {
	width: 100%;
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding:0 10px;
}
#contact-form input[type=text]:focus,#contact-form input[type=email]:focus, .contactForm textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#contact-form input[type=text],#contact-form input[type=email] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 14px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}

textarea.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* google map */
#map {
	height: 500px;
}


/*====================
  Clients
==================== */
#clients img {
	opacity: 0.7;
}

#clients img:hover {
	opacity: 1;
}


/*=========================
  Footer
 ================= */

section#footer {
	background: #242424;
	margin: 0;
}

section#footer .copyright {
	text-align: center;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

a.scrollup{
	height:32px;
	width:32px;
	color:#fff;
	font-size:18px;
	line-height:32px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	opacity:0.5;
}
a.scrollup:hover{
	opacity:1;
	color:#fff;
}

pre {
  white-space: pre-wrap;
}

/*===========================
  --- Template Components ----
=========================== */

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* stats */
.stats .icon {
	margin: 0 0 20px 0;
}

.stats strong.number {
	font-size: 38px;
}

.stats span.text {
	font-weight: 700;
	font-size: 24px;
}

/* buttons */
.btn {
	border: 0;
}

.btn.bold {
	font-weight: 600;
}

.btn-cta {
	color: #ffffff;
	border-bottom: 4px solid;
}
.btn-cta:hover {
	color: #ffffff;
}

.btn-cta {
	border-bottom: 2px solid;
}
.btn-cta.btn-lg {
	border-bottom: 4px solid;
}

.trust-distance-selector {
  /*
  @media(min-width: 768px) and (max-width: 991px) {
    float: right;
    margin-top: -3px;
  }
  */
}


/* ========================================
Media queries
========================================= */
@media (max-width: 767px) {
  body {
	  padding-top: 50px;
  }

  .nav > li > a {
    padding: 10px;
  }

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    right: 0;
    left: -150px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .navbar-nav {
    margin-top: 0;
  }

  .nav-search {
	  margin: 0 0 10px 0 !important;
	  border: none;
  }

  .navbar-nav li a {
    padding: 15px;
  }

	.navbar .navbar-collapse ul.nav {
		width: 100%;
		margin:0;
		padding:0;
	}
	.navbar .navbar-collapse ul.nav li {
	}
	section.featured {
		padding-top: 80px;
	}

	.team-member,.col-lg-4 {
		margin-bottom: 30px;
	}

	.stats .col-md-3 {
		margin-bottom: 30px;
	}

  .stats-box {
    .identicon {
      max-width: 45vw;
      max-height: 45vw;
    }
  }
}

.navbar-brand {
	padding: 14px;
}

html,
body {
  height: 100%;
}

/* For fixed header */
body { padding-top: 70px; }

h1 {
  margin-bottom: 40px;
}

#user-box a {
  color: #000000;
}

.message-panel:hover a.text-muted, a.text-muted:hover {
  color: inherit;
}

.msg-list message:hover {
  // TODO: darker bg
}

message {
  .msg {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 0;
  }
  &:first-of-type {
    .msg {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  &:last-of-type {
    .msg {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-bottom: 20px;
      border-bottom: 1px;
    }
  }
}

.modal-content {
  .msg {
    margin-top: 15px;
  }

  @media(min-width:992px) {
    border: 0;
    .msg-col {
      margin-bottom: 30px;
      background: white;
      border: 1px solid #999;
      border-radius: 6px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
  }
}

.panel {
  word-wrap: break-word;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

	.gravatar {
		//outline: 1px solid rgba(0,0,0,0.1);
		//outline-offset: -1px;
	}
}

.rating-slider .slider {
  width: 80%;
}

#write-msg-slider {
  .rzslider {
    margin: 15px 0;
  }
  .rz-bar {
//    background-image: linear-gradient(to right,#f2dede 30%,#fcf8e3 50%,#dff0d8 70%);
    background-image: linear-gradient(to right,#FFEAEA,#EDFFE6);
    height: 8px;
  }
  .rz-pointer {
    background-color: #337ab7;
  }
  .rz-pointer.rz-active:after {
    background-color: white; // dot on the active selector
  }
  .rz-bubble {
    background-color: #337ab7;
  }
}

#newRatingPanel {
  border-width: 2px;
  -webkit-transition: border 0.2s; /* Safari */
  transition: border 0.2s;
}

.search-result-row {
  cursor: pointer;
  .contact-link {
    font-size: 1.6em;
    vertical-align: middle !important;
  }
  &.active td {
    background-color: #e8e8e8 !important;
  }
}

a {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  &:hover {
    text-decoration: underline;
  }
}

.btn-social:hover {
  color: #FFFFFF;
}

.login-menu {
  padding: 15px;
  min-width: 250px;
  li {
    padding: 5px 0 0;
  }
}

.gravatar-col {
  width: 70px;
}

.connectingmsgs {
  padding: 0 !important;
}

.confirmation-panel {
  padding: 10px;
}

.msg-type-filter li.active {
  .positive, .neutral, .negative { color: #FFFFFF; }
}

.positive {
  color: #3C763D;
}

.neutral {
  color: #8A6D3B;
}

.negative {
  color: #A94442;
}

.jumbotron .iris-search {
  margin-top: 20px;
}

.ui-widget {
  font: inherit;
  background-image: none;
}

.stats-box, #search-results {
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}

.trustpath-list {
  margin-bottom: 0;
}

.stats-box {
  h4 { display: inline; }

  .profile-image {
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0);
    max-width: 100%;
    height: 100%;
  }
}

.square .identicon {
  &, .pie, img {
    border-radius: 0;
    transform: none !important;
  }
}

.no-glow .pie {
  box-shadow: none !important;
}

.btn-confirm, .btn-unverify {
  padding: 12px 10px;
}

.filters li, .nav-tabs li {
  cursor: pointer;
}

.cover {
  height: 300px;
  background-image: url('../assets/images/cover.jpg');
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.cover { height: 150px;  margin-top: -20px; }
@media(min-width:600px){.cover{height:200px}}
@media(min-width:768px){.cover{height:250px}}
@media(min-width:1100px){.cover{height:300px}}
@media(min-width:1200px){.cover{height:320px}}
@media(min-width:1370px){.cover{height:360px}}
@media(min-width:1450px){.cover{height:380px}}
@media(min-width:1510px){.cover{height:420px}}
@media(min-width:1670px){.cover{height:460px}}
@media(min-width:1820px){.cover{height:500px}}
@media(min-width:1990px){.cover{height:540px}}
@media(min-width:2150px){.cover{height:580px}}
@media(min-width:2300px){.cover{height:600px}}

.cover-container {
  background-color:#ffffff;
  border-bottom: 1px solid #efefef;
}

.nav-tabs {
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
}

.heading-row {
  height: 50px;
  width: 100%;
  .btn-default {
    background-color: #efefef;
    &:hover {
      background-color: #eaeaea;
    }
  }
  h4 {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}


.navbar-form {
  width: 340px;
  margin-left: 10px;
  padding: 0;
  ul { padding: 0; }
  .nav-search-field {
    padding: 6px 12px;
  }
  .nav-search-field, .input-group {
    font-size: inherit !important;
    width: 100% !important;
  }
	.dropdown-menu {
		width:340px;
	}
}

.distance-container {
	display: inline-block;
	position: relative;

	/*
	-moz-box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -20px 20px rgba(0, 0, 0, 0.5);
	*/
	position: relative;
	img {
		position: relative;
		z-index: 1;
	}

	.distance {
		z-index: 2;
		position: absolute;
    left:0;
    top:0;
    width: 100%;
    text-align: right;
		top: 2px;
		color: #fff;
		text-shadow: 0 0 1px #000;
		font-size: 75%;
		line-height: 75%;
		font-weight: bold;
	}
}

.table-hover>tbody>tr:hover {
    background-color: #efefef;
}

.quick-contact {
	.fa, .glyphicon {
		display: inline-block;
		width: 20px;
		margin-right:5px;
	}
}

@media (min-width: 992px) {
  .nav-tabs {
    display: none;
  }
  .id-right-column {
    margin-top: 20px;
  }
  .id-left-column {
    margin-top: -217px;
  }

   .filters, #write-feedback
   {
       display: block !important;
   }
}

@media (max-width: 991px) {
  .cover {
    border-bottom: 1px solid #efefef;
  }
  .cover-container {
    background-color: inherit;
    border: 0;
  }
  .id-left-column {
    margin-top: -180px;
  }
}

@media (max-width: 767px) {
  .alert {
    margin: 0;
  }

  .id-left-column {
    margin-top: -130px;
  }

  .mar-top25-xs {
    margin-top: 25px;
  }

  .container .jumbotron {
    margin: 0;
    margin-top: -20px;
    border-radius: 0;
  }

  .no-padding-xs {
    padding: 0 !important;
    .panel, .msg {
      margin: 0;
      border-radius: 0;
      border-bottom: 0;
    }
    .msg:first-of-type, .msg:last-of-type {
      border-radius: 0;
    }
    .panel-heading {
      border-bottom: 0;
    }
  }

  .jumbotron {
    h1 { margin-top: 0; margin-bottom: 20px; font-size: 1.5em; }
    p { font-size: 1em; }
    .iris-search { margin-top: 0 }
  }
  .rating-slider .slider {
    width: 100%;
    margin-bottom: 30px;
  }
  .navbar-header {
    float: left;
  }
  .gravatar-col {
    width: 60px;
  }
  .nav-search {
    clear: both;
  }

  .navbar-form {
    width: auto;
  }

  #messages {
    margin: 0;
    & > div {
      padding: 0;
    }
  }

  #attributes .table {
    table-layout: fixed;
    word-wrap: break-word;

    &table, thead, tbody, th, td, tr {
      display: block;
    }
    td {
      border-top: 0 !important;
    }
    tr {
      border-top: 1px solid #DDD;
    }
  }
}

@media (min-width: 600px) {
  .id-left-column {
    margin-top: -180px;
  }
}

#attributes .table {
  .identicon {
    display: inline-block;
  }
}

.idValue {
  max-width: 60%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.idType {
  max-width: 25%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.dragover {
  border: 2px dashed #31708f;
}

/* style icon */
.inner-addon .glyphicon, .inner-addon .fa {
  position: absolute;
  padding: 9px 12px;
  pointer-events: none;
	opacity: 0.75;
}

/* align icon */
.left-addon .glyphicon, .left-addon .fa  { left:  0px;}
.right-addon .glyphicon, .right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.msg-reaction {
  @media(min-width: 768px) {
    margin-left: 45px;
    &:first-of-type {
      margin-left: 0;
    }
  }
  color: inherit;
  margin-bottom: -15px;
  width:70px;
  text-align: right;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  &.active, &.active:focus {
    color: #23527c;
  }
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
  &:focus {
    color: inherit;
  }
}

.disabled a:hover {
  color: inherit;
  cursor: not-allowed;
}

.cursor-default {
  cursor: default !important;
}

.attachment {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  &:last-of-type {
    margin-right: 0;
  }
  video {
    max-width: 100%;
    max-height: 400px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
