<!doctype html>
<html lang="en" ng-app="irisAngular">
  <head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle || 'Iris'">Iris</title>
    <meta name="description" content="Social Networking Freedom">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="Iris" />
    <meta property="og:description" content="Social Networking Freedom" />
    <meta property="og:url" content="https://identi.fi" />
    <meta property="og:image" content="https://iris.to/assets/images/cover.jpg" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('sw.js').then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
    </script>

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="MainController">
      <nav class="navbar navbar-default navbar-fixed-top"> <!-- ng-controller="HeaderController"-->
      	<div class="container" role="navigation">
          <div class="navbar-header">
            <h1><a href="#" class="navbar-brand" ng-click="logoClicked();removeFocus($event)">
            iris</a></h1>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="" ui-sref-active="active"><a ui-sref="identities.list"><span class="fa fa-book"></span></a></li>
            <li ng-cloak ng-show="authentication.user" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li ng-cloak ng-show="authentication.identity" ui-sref-active="active">
      				<a ui-sref="identities.show({ type: authentication.user.idType, value: authentication.user.idValue })" class="nav-identicon">
                <notification-icon count="notificationService.unseenCount">
      					  <identicon width="26" identity="authentication.identity" show-distance="0" ipfs="ipfs">
                </notification-icon>
      				</a>
      			</li>
            <li class="dropdown" ng-hide="authentication.user">
              <a ng-click="openLoginModal()" href="" class="dropdown-toggle login-button" uib-dropdown-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
          </ul>

          <form class="navbar-form navbar-left nav-search" ng-submit="addAttribute()" role="search" ng-cloak ng-if="'identities.list' | isState">
            <div class="inner-addon right-addon">
              <i class="fa fa-search"></i>
              <input type="text" focus-on="searchFocus" ng-keydown="searchKeydown($event)" ng-model="query.term" autocomplete="off" autofocus value="" class="nav-search-field search-search form-control" placeholder="Search contacts">
            </div>
          </form>

          <div ng-cloak ng-if="!('identities.list' | isState)" class="navbar-form navbar-left nav-search hidden-xs">
            <div class="inner-addon right-addon">
              <i class="fa fa-search"></i>
              <input type="text" ng-model="query.term"
              placeholder="Search contacts"
              uib-typeahead="identity for identity in search($viewValue, 5)"
              typeahead-wait-ms="300"
              typeahead-no-results="noResults" class="form-control nav-search-field"
              typeahead-on-select="dropdownSearchSelect($item);query.term=''"
              typeahead-focus-on-select="false"
              typeahead-template-url="app/main/custom-search-row.html">
            </div>
            <span ng-if="noResults" auto-close="disabled" is-open="true" uib-dropdown uib-dropdown-toggle>
              <ul class="dropdown-menu" >
                <li>
                  <a class="search-result-row" ui-sref="identities.create">
                    <span style="line-height:46px" class="glyphicon glyphicon-plus"></span>
                    Add contact<span ng-if="query.term">: <span ng-bind="capitalizeWords(query.term)"></span></span>
                  </a>
                </li>
              </ul>
            </span>
          </div>

      	</div>
      </nav>

      <div ui-view></div>
    </div>

    <script src="assets/js/ipfs.min.js"></script>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
